# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
*/venv/

# Environment files
.env

# IDE / Editor stuff
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

